body {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e3f2fd;
    color: #fff;
}

.container {
    width: 100%;
    max-width: 780px;
    border-radius: 20px;
    padding: 35px 5%;
    background-color: #000000;
}

header {
    color: #b2b2b2;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h2 {
    font-size: 1.6rem;
}

header .column {
    display: flex;
    align-items: center;
}

header .column span {
    font-weight: 500;
    margin-right: 15px;
    font-size: 1.19rem;
}

.volume-slider input{
    accent-color: #fff;
}

.keys-check input {
    width: 60px;
    height: 30px;
    appearance: none;
    border-radius: 30px;
    background-color: #4b4b4b;
    cursor: pointer;
    position: relative;
}

.keys-check input::before {
    content: "";
    width: 20px;
    height: 20px;
    color: #fff;
    background-color: #8c8c8c;
    top: 50%;
    left: 0.5rem;
    cursor: pointer;
    position: absolute;
    border-radius: inherit;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

.keys-check input:checked::before {
    left: 2.1rem;
    background-color: #fff;
}

.piano-keys{
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

.piano-keys .key {
    cursor: pointer;
    user-select: none;
    list-style: none;
    color: #a2a2a2;
    position: relative;
    text-transform: uppercase;
}

.piano-keys .white {
    width: 70px;
    height: 230px;
    border: 1px solid #000000;
    background: linear-gradient(#fff 96%, #eee 4%);
    border-radius: 8px;
}

.piano-keys .white.active{
    box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom #fff 0%, #eee 100%);
}

.piano-keys .black {
    width: 44px;
    height: 140px;
    z-index: 2;
    margin: 0 -22px 0 -22px;
    border: 1px solid #fff;
    background: linear-gradient(#333, #000);
    border-radius: 0 0 5px 5px;
}

.piano-keys .black.active{
    box-shadow: inset -5px 5px 10px rgba(255, 255, 255, .2);
    background: linear-gradient(to bottom #000, #434343);
}

.piano-keys span {
    position: absolute;
    bottom: 20px;
    width: 100%;
    text-align: center;
    font-size: 1.2rem;
}


.piano-keys .key.hide span {
    display: none;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.85);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    text-align: center;
    padding: 20px;
    backdrop-filter: blur(3px);
}

.popup-content {
    background-color: #1c1c1c;
    padding: 20px 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
    max-width: 300px;
}

.popup button {
    margin-top: 15px;
    background-color: #ffffff;
    color: #000;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

.hidden {
    display: none !important;
}

@media screen and (max-width: 1024px) and (orientation: landscape) {
    .container{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 5%;
        width: 90% ;
        height: 90%;
    } 

    .container > header {
        width: 100%;
    }

    .piano-keys .white {
        width: 65px;
    }

    .piano-keys .black {
        width: 40px;
        height: 170px;
    }


}

@media screen and (max-width: 768px) and (orientation: landscape) {
    .container{
        width: 90%;
        height: 90%;
        padding: 20px 5%;
    }

    .piano-keys {
        margin-top: 20px;
    }

    .piano-keys .white {
        width: 60px;
        height: 180px;
    }

    .piano-keys .black {
        width: 36px;
        height: 120px;
    }
}

@media screen and (max-width: 600px) and (orientation: landscape) {
    .container{
        width: 90%;
        height: 90%;
        padding: 20px 3%;
    }

    header {
        gap: 5px;
    }

    header h2 {
        font-size: 1rem;
    }

    header > .column span  {
        font-size: 1rem;
    }

    .volume-slider input {
        width: 100px;
    }

    .keys-check input {
        width: 50px;
        height: 20px;
    }

    .keys-check input::before {
        width: 14px;
        height: 14px;
        left: 0.3rem;
    }

    .piano-keys span{
        bottom: 6px;
    }

    .piano-keys .white {
        width: 50px;
        height: 150px;
    }

    .piano-keys .black {
        width: 40px;
        height: 110px;
    }
}
